.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 250px;
}

.modal-body {
position:relative;
padding:0px;
}

.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.modal-backdrop{
    position: relative;
    
}

.modal{
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}

.fade{
   transition: opacity .15s linear;
}

.video-btn{
    cursor: pointer;
}